@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 97.8%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body {
    overflow: auto;
    padding: 0.1em;
    height: 100%;
    margin: 0;
    background-color: #f7f7f7;
    color: #333;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 7% 70% 16% 7%;
    grid-column-gap: 1px;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 4vh;
    text-align: center;
    padding: 1vh;
    border-bottom: 1px solid black;

    font-size: 3vh;
    font-weight: bold;
    color: black;
}

.pjoke {
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}

.central-zone {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
}

.conversation {
    grid-column: 2 / 4; /* gMap HIDE ! */
    grid-row: 1 / 2; /* gMap HIDE ! */
    padding: 2vh 1vw;
    border: 3px solid #6985bf;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
}

.conversation::-webkit-scrollbar {
  display: none;
}

.user {
    position: relative;
    margin-top: 3vh;
    margin-bottom: 3vh;

    width: 40%;
    height: auto;
    padding: 2vh;

    background-color: #9ab4f2;
    color: #404040;
    border-radius: 5px;

    font-weight: 600;
    text-align: justify;
}

.granpy {
    position: relative;
    align-self: flex-end;
    margin-bottom: 5px;

    width: 40%;
    height: auto;
    padding: 2vh;

    background-color: #38598e;
    border-radius: 5px;

    color: white;
    font-weight: 600;
    text-align: justify;
}

.harold {
    position: absolute;
    content: url("harold_60.png");
    width: 75px;
    height: 75px;
    top: -3em;
    left: -3em;

}

.you {
    position: absolute;
    content: url("u.png");
    width: 75px;
    height: 75px;
    top: -3em;
    left: 23em;
}

.gMap {
    display: none; /* gMap HIDE ! */
    border: 5px solid maroon;
}

#gMap {
    width: 300px;
    height: 300px;
}

.form {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid #a8acb7;
    border-radius: 5px;
}

.textbox {
    display: block;
    width: 30vw;
    border: none;
    border-bottom: 2px solid #797d87;
    background-color: transparent;
    color: #111;
    font-family: 'Lato', sans-serif;
    caret-color: grey;
}

.textbox::placeholder {
    text-align: center;
}

.button {
    display: block;
    margin: auto;
    padding: 1vh 3vw;
    border: none;
    border-radius: 5px;
    background-color: #797d87;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}

footer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;

    padding: 1vw;
}

.footer-infos {
    font-size: 12px;
    display: flex;
    height: 100%;
    width: 515px;
    justify-content: space-between;
}

/* 

Map hide :;

.central_zone {
    grid-template-columns: 25% 25% 25% 25%;
}

.conversation {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.gMap {
    display: none;
}


Map shown :

.central_zone {
    grid-template-columns: 50% 50%;
}

.conversation {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gMap {
    display: block  ;
}
*/