<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen and (min-width: 1024px)" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
        <link rel="stylesheet" media="screen and (max-width: 1024px)" type="text/css" href="{{ url_for('static', filename='styles/index_small_resolution.css') }}" />
        <script async src="{{ url_for ('static', filename='scripts/main.js') }}" type="module"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <title>Chez Harold, Papy Robot.</title>
    </head>
    <body>

        <header>
            Chez Harold, Papy Robot. <span class="pjoke">(Et mème à l'insu de son plein gré.)</span>
        </header>

        <section class="central-zone">

            <section class="conversation">
            </section>

            <section class="gMap">
            </section>
            
        </section>

        <section class="form">
            <form method="POST" class="granpyForm">
                {{ form.hidden_tag() }}
                {{ form.name.label }} 
                {{ form.name(class="textbox", placeholder="Salut GranPy, tu peux me dire où se trouve l'horloge astronomique de Besançon ?") }}
                <br><br>
                {{ form.submit(class="button") }}
                {% if sentence %}
                {{ sentence }}
                {% endif %}
            </form>
        </section>

        <footer>
            <div class="footer-infos">
                Damien Ramelet - Développeur Python
                <a href="https://twitter.com/damienrmlt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-lang="fr" data-show-count="false">Follow @damienrmlt</a>
                <a class="github-button" href="https://github.com/damien-devpy/OC-P7" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-icon="octicon-star" aria-label="Star damien-devpy/OC-P7 on GitHub">Star this project on Github</a>
            </div>
        </footer>

    </body>
</html>
